html {
    color: #505050;
    font-family: "Lora", serif;
    box-sizing: border-box;
    background-color: #FAF8F6;
    font-weight: 400;
    font-size: 18px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    max-width: 1720px;
    padding: 0 250px;
    margin: 0 auto;
}

.header {
    border: #717171 solid 1px;
    top: 0;
}

.header__top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 18px;
    height: 80px;
}

.menu__btn {
    background: inherit;
    border: 0;
    display: none;
    width: 25px;
    padding: 0;
    height: 25px;
}

.header__logo {
    justify-self: start;
    align-content: center;
    height: 60px;
}

.header__logo-img {
    height: 100%;
}

.header_menu {
    padding: 0 40px;
}

.menu__list {
    display: flex;
    gap: 30px;
}

.header__actions {
    display: flex;
    justify-self: end;
    gap: 10px;
}

.header__actions-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 36px;
    padding: 5px;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}


.actions-btn__logo {
    width: 22px;
}

.actions-btn__title {
    margin-right: 10px;
}

.actions-btn__title:last-child {
    margin-right: 0px;
}



.landing {
    background-color: #E2E1EE;
}

.landing>.container {
    padding: 65px 0;
    max-width: 750px;
}

.landing__title {
    color: #4A40A7;
    margin: 0;
    font-size: 32px;
    font-weight: 500;
}

.landing__undertitle {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    margin: 0;
}

.landing__text {
    padding-top: 10px;
    margin: 0;
    margin-bottom: 30px;
}

.landing__info-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 500;
    margin-bottom: 50px;
}

.landing__info-item {
    display: flex;
    align-items: center;
    width: 156px;
}

.info-item__img {
    width: 50px;
    height: 50px;
}

.landing__btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.landing__btn-text {
    display: inline-block;
    color: #FAF8F6;
    width: 315px;
    height: 52px;
    background: linear-gradient(90deg, rgba(74, 64, 167, 1) 0%, rgba(100, 84, 192, 1) 100%);
    border-radius: 15px;
    align-content: center;
    text-align: center;
}

.section__title {
    color: #505050;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section__text {
    margin-bottom: 20px;
}

.section__list {
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 35px;
    padding: 15px 0 5px 0;
    font-size: 18px;
}

.section__list-item {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
}

.section__list-item:before {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -35px;
    width: 25px;
    color: #6454C0;
    text-align: center;
    border: #6454C0 solid 3px;
    border-radius: 100px;
}

.list-item__title {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
}

.actions {
    margin-bottom: 80px;
}

.footer {
    background-color: #433B74;
    color: #FAF8F6;
    padding: 50px 0;
}

.footer__sections {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    margin-bottom: 10px;
    gap: 30px;
}


.footer__title {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}

.footer-list__item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contacts__logo {
    width: 27px;
    height: 27px;
    margin-right: 10px;
}

.messengers-logos {
    gap: 10px;
}

.messenger__btn {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.contacts__list-item {
    display: flex;
}


.footer__bottom {
    max-width: 1390px;
    display: flex;
    border-top: #717171 solid 1px;
    justify-content: space-between;
}

.footer__logo {
    height: 75px;
}

.footer__politic {
    background-color: transparent;
    border: 0;
    padding: 0;
}


@media (max-width: 1350px) {
    .container {
        padding: 0 200px;
    }

    .landing>.container {
        padding: 60px 0;
        max-width: 700px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0 150px;
    }

    .landing>.container {
        padding: 60px 0;
        max-width: 650px;
    }

    .footer{
        font-size: 16px;
    }
}

@media (max-width: 1040px) {
    .container {
        padding: 0 100px;
    }

    .header__top {
        font-size: 14px;
        height: 60px;
    }

    .header__logo {
        height: 40px;
    }

    .header__actions {
        gap: 5px;
    }

    .landing>.container {
        padding: 55px 0;
        max-width: 600px;
    }

    .landing__title {
        font-size: 28px;
    }

    .landing__undertitle {
        font-size: 20px;
        padding-top: 8px;
    }

    .landing__text {
        padding-top: 8px;
        font-size: 14px;
        margin-bottom: 28px;
    }



    .landing__info-list {
        margin-bottom: 45px;
        font-size: 16px;
    }

    .landing__info-item {
        width: 150px;
    }

    .info-item__img {
        width: 45px;
        height: 45px;
    }

    .landing__btn-text {
        width: 300px;
        height: 45px;
        font-size: 16px;
    }

}

@media (max-width: 820px) {
    .container {
        padding: 0 100px;
    }

    .header__top {
        font-size: 14px;
        height: 60px;
    }

    .header__logo {
        height: 40px;
    }

    .header__actions {
        gap: 5px;
    }

    .landing>.container {
        padding: 40px 0;
        max-width: 500px;
    }
}

@media (max-width: 620px) {
    .container {
        padding: 0 30px;
    }

    .header__top {
        font-size: 12px;
        height: 50px;
    }

    .header__logo {
        height: 30px;
    }

    .header__actions-btn span {
        display: none;
    }

    .landing>.container {
        padding: 30px 0;
        max-width: 350px;
    }

    .landing__title {
        font-size: 26px;
    }

    .landing__undertitle {
        font-size: 18px;
    }

    .landing__text {
        font-size: 12px;
    }

    .landing__info-list {
        margin-bottom: 35px;
        font-size: 12px;
    }

    .landing__info-item {
        width: 100px;
    }

    .info-item__img {
        width: 35px;
        height: 35px;
    }

    .landing__btn-text {
        width: 280px;
        height: 35px;
        font-size: 12px;
    }
}

@media (max-width: 425px) {

    .header__logo {
        justify-self: end;
    }

    .header__top {
        grid-template-columns: 1fr auto 1fr;
    }

    .header__actions {
        grid-column: 3;
        grid-row: 1;
    }

    .menu__list {
        position: absolute;
        display: flex;
        inset: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: 1s;
        z-index: 10;
        background-color: #433B74;
        color: #FAF8F6;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu__btn {
        display: block;
        z-index: 15;
    }

    .menu__list.active {
        transform: translateX(0);
    }


    .landing>.container {
        padding: 20px 0;
        max-width: 300px;
    }

    .landing__title {
        font-size: 24px;
    }

}