html {
    color: #505050;
    font-family: "Lora", serif;
    box-sizing: border-box;
    background-color: #FAF8F6;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1720px;
    padding: 0 200px;
    margin: 0 auto;
}

.header {
    border: #717171 solid 1px;
    top: 0;
}

.header__top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 18px;
    height: 80px;
}

.menu__btn {
    background: inherit;
    border: 0;
    display: none;
    width: 25px;
    padding: 0;
    height: 25px;
}

.header__logo {
    justify-self: start;
    align-content: center;
    height: 60px;
}

.header__logo-img {
    height: 100%;
}

.header_menu {
    padding: 0 40px;
}

.menu__list {
    display: flex;
    gap: 30px;
}

.header__actions {
    display: flex;
    justify-self: end;
    gap: 10px;
}

.header__actions-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 36px;
    padding: 5px;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}


.actions-btn__logo {
    width: 22px;
}

.actions-btn__title {
    margin-right: 10px;
}

.actions-btn__title:last-child {
    margin-right: 0px;
}


@media (max-width: 1040px) {
    .container {
        padding: 0 150px;
    }

    .header__top {
        font-size: 14px;
        height: 60px;
    }

    .header__logo {
        height: 40px;
    }

    .header__actions {
        gap: 5px;

    }
}

@media (max-width: 820px) {
    .container {
        padding: 0 100px;
    }

    .header__top {
        font-size: 14px;
        height: 60px;
    }

    .header__logo {
        height: 40px;
    }

    .header__actions {
        gap: 5px;
    }
}

@media (max-width: 620px) {
    .container {
        padding: 0 30px;
    }

    .header__top {
        font-size: 12px;
        height: 50px;
    }

    .header__logo {
        height: 30px;
    }

    .header__actions-btn span {
        display: none;
    }

}

@media (max-width: 425px) {

    .header__logo {
        justify-self: end;
    }

    .header__top {
        grid-template-columns: 1fr auto 1fr;
    }

    .header__actions{
        grid-column: 3;
        grid-row: 1;
    }

    .menu__list {
        position: absolute;
        display: flex;
        inset: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: 1s;
        z-index: 10;
        background-color: #433B74;
        color: #FAF8F6;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu__btn {
        display: block;
        z-index: 15;
    }
    .menu__list.active {
        transform: translateX(0);
    }
}