{% extends 'base.html' %}
{% block content %}

<section class="constructor-header">
    <div class="container">
        <h3 class="constructor-header__title">Начните заполнение вашего документа</h3>
        <p class="constructor-header__text">Приступить к составлению резюме можно с помощью нашего онлайн-конструктора.
            Просто введите ваши данные в готовые поля формы. Система предоставляет вспомогательные подсказки на каждом
            этапе, что гарантирует точность и полноту информации. По окончании заполнения вам будет доступно сохранение
            документа в удобном формате.<br />
            Наш сервис является кроссплатформенным и корректно работает на всех типах устройств, включая смартфоны и
            планшеты на базе Android, а также гаджеты Apple с операционной системой iOS.</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="constructor-content">
            {% block constructorContent %} {% endblock %}
        </div>
    </div>
</section>
{% endblock %}