{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="page__title">Макеты для заполнения ваших документов</h1>

    <section class="resume">
        <h2 class="section_title">Резюме</h2>

        <div class="slider">
            {% for item in resumeTemplates %}
            <div class="item" value="{{item.id}}">
                <div class="resume__item">
                    <img src="{{item.imgLink}}" alt=""
                        class="swiper-slide__img">
                </div>
            </div>
            {% endfor %}
            <div class="swipe-prev swipe_arrow" id="prev">
                <img src="{{ url_for('static', filename='images/left_arrow.svg') }}" alt="" class="swipe__arrow-img">
            </div>
            <div class="swipe-next swipe_arrow" id="next">
                <img src="{{ url_for('static', filename='images/right_arrow.svg') }}" alt="" class="swipe__arrow-img">
            </div>
        </div>
        <div class="resume-templates__btn">
            <button id="selectButton" class="resume-templates__btn-text">выбрать</button>
        </div>
    </section>
    <section class="statements">
        <h2 class="section_title">Заявления</h2>
        <div class="statements_list">
            <a href="" class="statement-item">Какое то на что то</a>
            <a href="" class="statement-item">Какое то на что то</a>
            <a href="" class="statement-item">Какое то на что то</a>
            <a href="" class="statement-item">Какое то на что то</a>
            <a href="" class="statement-item">Какое то на что то</a>
            <a href="" class="statement-item">Какое то на что то</a>
        </div>
    </section>
    <section class="contracts">
        <h2 class="section_title">Договоры</h2>
        <div class="contracts_list">
            <a href="" class="contract-item">Какое то на что то</a>
            <a href="" class="contract-item">Какое то на что то</a>
            <a href="" class="contract-item">Какое то на что то</a>
            <a href="" class="contract-item">Какое то на что то</a>
            <a href="" class="contract-item">Какое то на что то</a>
            <a href="" class="contract-item">Какое то на что то</a>
        </div>
    </section>
</div>




{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='scripts/slider.js') }}"></script>
{% endblock %}